{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Accueil{% endblock %}

{% block body %}
    <section id="intro" class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Bienvenue sur Lamatch !</h1>
            <p class="text-center">Déjà {{ nbMatching }} matching</p>
        </div>
    </div>
    </section>

    <section id="stats" class="container">
        <div class="row">
            <div class="col-12 stats-wrapper ">
                <div class="row">
                    <div class="col-3"></div>

                    <div class="col-3">
                        <div class="card stat text-center text-light bg-info">
                            <p class="stat-figure">{{ nbEntreprises }}</p>

                            <p class="stat-text">
                                Employeurs
                            </p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card stat text-center text-light bg-info">
                            <p class="stat-figure color-blue1">{{ nbCandidats }}</p>

                            <p class="stat-text">
                                Candidats
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="actions" class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin_backOffice') }}" class="btn btn-primary mt-3">Volet Admin</a>
                {% else %}
                <a href="{% if app.user.candidat %}
                    {{ path('matching_candidat',{id:app.user.candidat.id}) }}
                    {% elseif app.user.entreprise %}
                    {{ path('matching_entreprise',{id:app.user.entreprise.id}) }}
                    {% endif %}" class="btn btn-primary mt-3">
                    Je lance le Matching ! ⚡
                </a>
                {% endif %}
            </div>
        </div>
{% endblock %}