{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Création profil{% endblock %}

{% block body %}
<section class="col-6">
    <h1>Bienvenue {{ app.user.nom }}</h1>
    {{ form_start(formEntreprise) }}
    {{ form_widget(formEntreprise) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(formEntreprise) }}
</section>
{% endblock %}
