{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Création profil{% endblock %}

{% block body %}
    <section class="col-6">
    <h1>Bienvenue {{ app.user.nom }}</h1>
        {{ form_start(formCandidat) }}
        {{ form_row(formCandidat.emailContact) }}
        {{ form_row(formCandidat.nom) }}
        {{ form_row(formCandidat.prenom) }}
        {{ form_row(formCandidat.photo) }}
        {{ form_row(formCandidat.dateNaissance) }}
        {{ form_row(formCandidat.linkedin) }}
        {{ form_row(formCandidat.enRecherche) }}
        {{ form_row(formCandidat.typeContratSouhaite) }}
        {{ form_row(formCandidat.ville) }}
        {{ form_row(formCandidat.ListQualites) }}
        {{ form_row(formCandidat.valeurPrincipale) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(formCandidat) }}
    </section>

{% endblock %}
{% block javascripts %}{% endblock %}