{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Création profil{% endblock %}
{% block stylesheets %}<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />{% endblock %}
{% block body %}
    <section class="col-8 align-content-center">
    <h1>Bienvenue {{ app.user.nom }}</h1>
        {{ form_row(formCandidat.emailContact) }}
        {{ form_row(formCandidat.nom) }}
        {{ form_row(formCandidat.prenom) }}
        {{ form_row(formCandidat.photo) }}
        {{ form_row(formCandidat.dateNaissance) }}
        {{ form_row(formCandidat.linkedin) }}
        {{ form_row(formCandidat.enRecherche) }}
        {{ form_row(formCandidat.ville) }}
        {{ form_row(formCandidat.ListQualites) }}
        {{ form_row(formCandidat.valeurPrincipale) }}
        {{ form_row(formCandidat.competences) }}
        <button type="submit" class="btn-primary">Enregistrer</button>
        {{ form_end(formCandidat) }}
    </section>

{% endblock %}
{% block javascripts %}{% endblock %}