{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Profil Candidat{% endblock %}

{% block body %}
    <div class="h1 container d-flex justify-content-center my-3">Profil de {{ candidat.prenom }} {{candidat.nom }}  </div>
    <section class="d-flex row mt-3">
                <div class="col-4">
                    <div class="card" >
                        <img src="{% if candidat.photo %}{{ asset('photos/'~ candidat.photo) }}{% else %}{{ asset('img/defaut.png') }}{% endif %}" class="card-img-top" alt="Photo de {{ candidat.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{candidat.prenom }} {{candidat.nom }}</h5>
                            <h6 class="card-subtitle mb-2"> 👶 : {{ candidat.age}} ans</h6>
                            <h6 class="card-subtitle mb-2">Expérience {{ experience }} ans</h6>
                            <h6 class="card-subtitle mb-2">🚩 {{ candidat.ville.nom }} </h6>
                            <h6 class="card-subtitle mb-2">📖 {{ candidat.linkedin }}</h6>
                            <h6 class="card-subtitle mb-2">Trait de personnalité : </h6>
                            {% for qualite in candidat.listQualites %}
                            <li class="card-text mb-2">{{ qualite.nom }}</li>
                            {%  endfor %}
                        </div>
                        <a href="mailto:{{ candidat.emailContact }}" class="card-link m-2  btn btn-outline-success"> 📧 Contact </a>
                    </div>
                    <div class>
                        <a href="{% if is_granted("ROLE_ADMIN") %}{{ path('admin_gestionCandidats') }}{% else %}{{ path('matching_entreprise',{id:app.user.entreprise.id}) }}{% endif %}" class="justify-content-center btn btn-secondary mt-3">retour</a>
                    </div>
                </div>
                <div class="col-4">
                    <h2>Formations </h2>
                    {% for formation in candidat.formations %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ formation.intitule }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ formation.dateDebut | date('m-Y') }}->{{ formation.dateFin | date('m-Y') }}</h6>
                                <p class="card-text">Niveau : {{ formation.niveau.libelle }}</p>
                                <p class="card-text"> Etablissement : {{ formation.etablissement }}</p>
                                <p class="card-text">Domaine :{{ formation.domaine.nom }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        <div class="col-4">
            <h2>Expériences Professionnelles</h2>
            {% for experience in candidat.experiences %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ experience.intitulePoste }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ experience.dateDebut | date('m-Y') }}{% if experience.dateFin %}{{ experience.dateFin | date('m-Y') }}{% else %} - {% endif %}</h6>
                        <p class="card-text">{{ experience.typeContrat.intitule }}</p>
                        <p class="card-text">{{ experience.nomEmployeur }}</p>
                        <p class="card-text">{{ experience.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="col-6">
        <h2>Ces Compétences</h2>
        <table class="table table-striped ">
            <tbody>
            {% for skill in candidat.competences %}
                <tr>
                    <td>{{ skill.intitule }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>



{% endblock %}