<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0"
          lang="fr">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Lamatch{% endblock %}</title>
    <link rel="icon" href="https://lamacompta.co/wp-content/themes/oceanwp_child/assets/images/logo-lamacompta-icono.svg" sizes="32x32">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="#" type="text/css">
    {% block stylesheets %}{% endblock %}

</head>
<body>
<header>
    {# ------------------------ NavBar ------------------- #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% if is_granted("ROLE_USER") %}{{ path('accueil') }}{% else %}{{ path('home') }}{% endif %}"><img src="{{ asset('utils/llama.png') }}" width="50px" class="logonavbar"  alt="Logo Lamatch"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav float-end">
                    {% set chemin = app.request.get('_route') %}
                    {% if app.user %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_backOffice') }}">Volet Admin</a>
                            </li>
                        {% else %}
                                <li class="nav-item {% if chemin  == 'accueil' %}active{% endif %}">
                                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{% if app.user.candidat %}
                                                {{ path('matching_candidat',{id:app.user.candidat.id}) }}
                                              {% elseif app.user.entreprise %}
                                                {{ path('matching_entreprise',{id:app.user.entreprise.id}) }}
                                              {% endif %}">Matching</a>
                                </li>
                                <li class="nav-item {% if chemin  == 'user_profil' %}active{% endif %}">
                                    <a class="nav-link"
                                       href="{% if app.user.candidat %}
                                                {{ path('candidat_modifier',{id:app.user.candidat.id}) }}
                                            {% elseif app.user.entreprise %}
                                                {{ path('entreprise_modifier',{id:app.user.entreprise.id}) }}
                                            {% endif %}">Mon Profil</a>
                                </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if chemin  == 'app_login' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{# ------------------------ Message flash ------------------- #}
<main>
    <section class="container">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} mt-3">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </section>
    <div id="licorne" style="display: none"><img src="{{ asset('img/licorne.jpg') }}" alt="licorne"> </div>
</main>


<script>
    //pattern à rentrer
    var pattern = [ 'l', 'i','c','o','r','n','e'];
    //variable pour validation
    var current = 0;
    //récupère la div
    let licorne = document.querySelector('#licorne');
    /**
     * permet de valider ou non le pattern
     * et fait varier le style d'une div
     * @param event
     */
    var keyHandler = function (event) {
        // si le pattern n'est pas respecté, retour au début
        if (pattern.indexOf(event.key) < 0 || event.key !== pattern[current]) {
            current = 0;
            return;
        }
        //valide le pattern 1à 1
        current++;
        // si pattern respecté
        if (pattern.length === current) {
            current = 0;
            if(getComputedStyle(licorne).display !== "none"){
                licorne.style.display = "none";
            }else{
                licorne.style.display ='block';
            }
        }
    };
    // permet la récupération des touches
    document.addEventListener('keydown', keyHandler, false);
</script>
</body>
</html>

