{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Ajouter Expérience{% endblock %}

{% block body %}
    <section class="col-6 align-items-center my-3 mx-auto">
        <h1>Ajouter une expérience <a href="{{ path('candidat_modifier',{id:candidat.id}) }}" class="btn btn-secondary">Retour</a></h1>
        {{ form_start(formExperience) }}
        {{ form_widget(formExperience) }}
        <button type="submit" class="btn btn-primary">Inscrire</button>
        {{ form_end(formExperience) }}
    </section>

{% endblock %}
