{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Modifier Expérience{% endblock %}

{% block body %}
    <section class="col-6 align-items-center my-3 mx-auto">
        <h1>Modifier une expérience  <a href="{{ path('candidat_modifier',{id:app.user.candidat.id}) }}" class="btn btn-secondary">Retour</a></h1>
        {{ form_start(formExperience) }}
        {{ form_widget(formExperience) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(formExperience) }}

    </section>
{% endblock %}