{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Modifier Expérience{% endblock %}

{% block body %}
    <section class="col-6">
        <h1>Modifier une expérience</h1>
        {{ form_start(formExperience) }}
        {{ form_widget(formExperience) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(formExperience) }}
        <a href="{{ path('candidat_modifier',{id:candidat.id}) }}">Retour</a>

    </section>
{% endblock %}